/* General */

.deleted {
       text-decoration: line-through;
}

.program-entry-first {
	font-weight:		bold;
}

.program-entry {
	margin-top:		2em;
	font-weight:		bold;
}

.program-subentry-first {
	margin-left:		2em;
}

.program-subentry {
	margin-top:		1em;
	margin-left:	2em;
}

.authors {
	font-style:		italic;
}

body {
	margin:		0;
	padding:		0;
	background-color:	#FFFFFF;
	color:			#003399;
	font-family :	Helvetica, sans-serif
	 
}

ul {
	margin:			0;
	margin-left:	2em;
	padding:		0;
}

ul li {
	margin:		0;
	padding:	0;
}

/* Header + Summary */

#supportingText {
	width: 97%;
}

.hotel {
	padding-top:		1.0Em;
	font-weight:		bold;
	font-size:		115%;
}

#container #intro {
	position:		fixed;
	background-color:	#990033;
	top:			5px;
	height:		122px;
	z-index:		25;
	width:			100%;
}

#help2hide{
	position:		fixed;
	background-color:	#FFFFFF;
	top:			0px;
	left:			0px;
	height:			156px;
	width:			100%;
	z-index:		20;
}

#pageHeader {
	position:	fixed;
/*	top:		10px;	*/
	/* modify accord to Sabrina */
	top:		15px;
	left:		170px;
	height:		122px;
	z-index:	30;
}

#pageHeader #logo {
	position:	fixed;
	background:	transparent  url("images/TC113.gif") no-repeat;
	top:		5px;
	left:		30px;
	height:		122px;
	width:		122px;
	z-index:	50;
}

#pageHeader h1 span {
	color:		white;
	/*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-size:	100%;
}


#pageHeader h2 {
	margin-top:	5px;
}

#pageHeader h2 span {
	color:		white;
	font-size:	85%;
}

#pageHeader h3 span {
  display: none;
}

/*
#intro #sponsor h3 {
	z-index:	25;
	background:	transparent  url("./images/aica_small.png") no-repeat;
	position:	fixed;
	top:		35px;
	right:		5px;
	width:		150px;
	height:	65px;
}
*/

#sponsor h3 span {
	display:	none;
}

h4, h3, h2, h1 {
	color:		#990033;
	font-family: Helvetica, sans-serif;
	/* modify accord to Sabrina */
	font-weight:	normal;
}

h4 {
	font-size: 125%;
}

h3 {
	padding-top:	1em;
}

h5 {
	padding-top: 0.75em;
}

#supportingText h3 {
	font-size: 175%;
}

#supportingText h4 {
	padding-top: 1.5Em;
}

.struct h4 {
	color:			#990033;
	padding-top:		10px;
}

.struct table {
	width:			63%;
}

/*.struct tr {*/
/*	width: 50%;*/
/*}*/

.struct td {
	width: 15%;
}

/* Body */

#container {
	margin:		0 auto;
	text-align:		left;
}

#supportingText {
	position:		absolute;
	top:			195px;
	margin:		0 15px;
}

#supportingText p, #preamble p {
	display:		block;
	line-height:		150%;
	margin:		10px 0 10px 0;
	text-align:		justify;
}

#supportingText div {
	line-height:		150%;
	margin:		0;
}

#supportingText div .struct {
	margin:		0;
}


/* Hyperlink */

#container a, #container a:visited, #container a:hover {
	color:				#990033;
	font-family:		Helvetica, sans-serif;
	text-decoration:	underline;
}

/* Menu */
#linkmenu {
	list-style-type:	none;
	margin:		0;
}

#linkList {
	position:		fixed;
	top:			135px;
	left:			0;
	width:			100%;
	z-index:		25;
}

#leftMenu {
	color:			white;
	font-family:		Helvetica, sans-serif;
	font-weight:		bold;
	text-decoration:	none;
	background-color:  #003399
/* background-color:	#3396FF;*/
}

#leftMenu ul {
	text-align:		center;
	margin:		0;
}

#leftMenu ul li {
	display:		inline;
	/*margin-left:	-8px;*/
	border-right:		1px solid #F0F0F0;
	padding: 		1px 5px 1px 5px
}

#leftMenu ul li ul {
	display:		inline;
}

#leftMenu ul li ul li {
	display:		inline;
}

#leftMenu ul li a, #leftMenu ul li a:visited {
	/*padding: 5px 5px 5px 13px;*/
	text-decoration:	none;
	font-size:		13px;
	color:			white;
}

#leftMenu ul li a:hover {
	text-decoration:	none;
	font-size:		13px;
	color:			#3396FF;
	background-color:	#F0F0F0;
}

#leftMenu ul li.firstmenu {
	border-left:		1px solid #F0F0F0;
	padding: 		1px 7px 1px 5px;
}

#leftMenu ul li ul li {
	padding: 		5px 3px 5px 3px;
	border-right:		0px solid #F0F0F0;
}

/*
#leftMenu ul li ul li a {
	padding: 		5px 10px 5px 10px;
	text-decoration:	none;
	font-size:		13px;
	color:			#000040;
}
*/

/* Footer */

#footer {
	padding-top:	60px;
	line-height:	26px;
}



/* Extra */
table.feetable {
	border-width: 	1px;
	border-style:		solid;
	border-collapse:	collapse;
}

table.feetable th {
	border-width: 	1px;
	border-style:		solid;
	padding:		5px;
	text-align:		center;
}

table.feetable td {
	border-width: 	1px;
	border-style:		solid;
	padding: 5px;
}



.paper {

    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
	border-bottom: solid black 1px;
    padding: 2pt;

}

.authors {

    font-style: italic;

}
